@use 'general';
@use 'variables' as *;
@use 'mixins' as *;
@use 'components';
@use 'footer';

h1{
    text-align: center;
    padding: 20px;
    margin: 0 0 50px;
    background-color: #fff;
}

.guess-game{
    width: 1000px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin: 20px auto;
    gap: 50px;
    justify-content: space-between;
    .game-area{
        flex: 1;
        .inputs{
            > div{
                input{
                    width: 70px;
                    text-align: center;
                    font-size: 2.5rem;
                    margin: 10px 3px;
                    color: #333;
                    border: none;
                    border-bottom: 3px solid #333;
                    &:focus{
                        outline-color: #ccc
                    }
                    &.yes-in-place{
                        @include options-colors(#f89e13);
                    }
                    &.not-in-place{
                        @include options-colors(#18ba89);
                    }
                    &.wrong{
                        @include options-colors(#27303f);
                    }
                }
                &.disabled{
                    opacity: .5;
                    pointer-events: none;
                }
                span{
                    color: #333;
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-right: 15px;
                }
            }
        }
        .control{
            padding: 20px;
            display: flex;
            gap: 5px;
            button{
                padding: 15px 20px;
                color: white;
                outline: none;
                border: none;
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
                &.check{
                    background-color: $main-color;
                    flex: 1
                }
                &.hint{
                    background-color: #009688;
                }
                &.disabled{
                    background-color: black;
                    opacity: .5;
                    cursor: no-drop;
                }
            }
        }
        .message{
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            span{
                display: block;
                font-size: 50px;
                color: $main-color;
                text-transform: capitalize;
                margin-top: 5px;
            }
            p{
                margin-top: 15px;
            }
        }
    }
    .key-colors{
        .key-color{
            display: flex;
            align-items: center;
            padding: 15px;
            background-color: white;
            margin-bottom: 15px;
            border-radius: 5px;
            .key{
                width: 30px;
                height: 30px;
                margin-right: 10px;
                border-radius: 50%;
                &.in-place{
                    background-color: #f89e13
                }
                &.not-in-place{
                    background-color: #18ba89
                }
                &.wrong{
                    background-color: #27303f
                }
            }
        }
    }
}
footer{
    @extend footer;
}
